rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Catch-all deny
    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
      allow read, write: if true;
    }

    match /items/{itemId} {
      allow read, write: if true;
    }

    match /units/{unitId} {
      allow read, write: if true;
    }

    match /history/{logId} {
      allow read, write: if true;
    }

    match /sucursales/{sucId} {
      allow read, write: if true;
    }
  }
}
